head{
    background-color: white;
}

.conteiner{
    max-width: 1250px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    margin: 13px auto 15px; 
}

.header_ul{
    display: flex;
    gap: 110px;
}

.header_link{
    font-size: 20px;
    line-height: 14px;
    color: #f700ff;
    text-decoration: none;
}

.header_link:hover{
    color: rgb(248, 157, 241);
}

.main{
    background-color: rgb(226, 146, 241);
    padding: 58px 0 59px;
}

.footer{
    background-color: #f700ff;
    padding: 58px 0;
} 

.footer_ul{
    display: flex;
    gap: 110px;
}


.footer_link{
    font-size: 20px;
    line-height: 14px;
    color: #ffffff;
    text-decoration: none;
}

.footer_link:hover{
    color: rgb(248, 157, 241);
}

.twilight{
    background-color: rgb(226, 146, 241);
    padding: 30px 0 50px;
}

.text1{
    font-size: 25px;
    padding: 0px 25px;
    margin: 10px auto 10px; 
    color: #000000;
}

.text_ol{
    display: flex;
    gap: 150px;
}





.fluttershy{
    background-color: rgb(226, 146, 241);
    padding: 30px 0 50px;
}